*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    margin: 0 auto;
}
.continer{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
header{
    height: 100vh;
    background: url("../img/pexels-kubra-cetin-2160408296-36702867.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.hero-section .text{
    max-width: 600px;
    text-align: center;
    background: rgba(202, 201, 201, 0.407);
    padding: 50px;
    border-radius: 10px;
     

}
.hero-section .text h1{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.25; 
    padding: 20px;

}
.hero-section .text p{
    line-height: 2;
}
.btn{
    text-decoration: none;
    background: #33312f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 10px;

}
.btn:hover{
    text-decoration: none;
    background: #DD9E59;
 
}
.hero-section .under-text{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    
    
}
.hero-section .under-text div{
    display: flex;
    align-items: center;
    color: rgb(26, 26, 26);gap: 5px;


   
}
.sec-sectin{
    padding: 50px 30px;

}
/* Our solutin secton css */
.solution{
    background: rgb(184, 184, 184);

}
.solution{
    padding: 50px 20px;
}
.solutin-text{
    text-align: center;
    max-width: 500px ;
    margin: 0 auto;


}
.solutin-text h3{
    background: rgb(225, 196, 225);
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
}
.solutin-text h2{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;

    
}
.solutin-text h2>span{
    font-size: 36px;
    color: rgb(255, 39, 1);
    background: none;    

}
.solutin-text p{
    padding-bottom: 40px;
}
.card{
    display: flex;  
    gap: 30px;

}
.card div{
    padding: 30px;
    text-align: left;
    background: gray;
    border-radius: 15px;
    max-width: 400px;

}
.card div h3{
    font-size: 20px;
    padding: 10px 0;

}
.card div p{
    font-size: 18px;
    padding: 10px 0;

}
@media (max-width:900px) {
    .card{
        align-items: center;
        justify-content: center;
    }
}
@media  screen and (max-width:600px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    
}
.talk{
    padding: 50px 0;

}
.talk-text{
    text-align: center;
    max-width: 500px;

    padding: 30px 0;
    margin:  0 auto;

}
.talk-text h2{
    text-align: center;
    padding: 10px;

}
.talk-text p{
    font-size: 18px;
    line-height: 2;

}
.talk-card{
    display: flex;
    gap: 10px   ;
    justify-content: space-evenly;
    
}
.talk-card div{
    border: 2px solid black;
    padding: 30px;
    color: rgb(97, 97, 97);
    text-align: center;  
    max-width: 400px;
    border-radius: 15px;
    margin: 10px;


}
.talk-card span{
    font-size: 40px;
    display: block;
    padding: 10px;
    font-weight: 700;

}
@media (max-width:900px) {
    .talk-card{
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }
    .talk-card div{
        width: 100%;
    }
    
}

.exprence  .text {
    text-align: left;
    max-width: 500px;
    padding: 30px 20px;
    background: rgba(224, 223, 223, 0.494);
    border-top: 3px solid rgb(0, 255, 153);    
}
.exprence  .text h3{
    font-size: 20px;
    padding: 20px 0;    
}
.exprence  .text span{
    font-size: 18px;
    padding-bottom: 10px;
    
}
.exprence  .text a{
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-top: 20px;
    
}
.exprence .under-section video{
    width: 100%;
}
.exprence .under-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 auto;
    padding: 30px 0;

}
@media (max-width:900px) {
    .exprence .under-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
              
    }
    
    .exprence .under-section .text{
        align-items: center;

              
    }
    .under-section video{
        width: fit-content;
    }
    
}
.reviow{
    background: rgb(4, 140, 63);
    padding: 50px 0;

}
.reviow-text {
    max-width: 600px;
    margin: 0 auto;


    
}
.reviow-text h2{
    font-size: 25px;
    padding: 10px 0;

}
.reviow-text {
    font-size: 18px;
    padding: 10px 0;
    line-height: 2;

}
.reviow-card div{
    max-width: 500px;
    padding: 20px;

}
.reviow-card div i{
    color: tomato;
    
    

}
.reviow-card {

}
.reviow-card{
    display: flex;
    gap: 20px;  
    margin-top: 20px;


}
.card-sec{
    background: rgba(238, 130, 238, 0.364);
    border-radius: 15px;
        
}
@media (max-width:900px) {
    .reviow-card{
        flex-direction: column;
        width: 100%;
        align-items: center;       

    }    
}
.freques-question{
    padding: 50px 0;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;

}
.freques-question h2{
    font-size: 36px;
    padding: 20px 0;

}
.freques-question p{
    font-size: 18px;
    line-height: 1.5;

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.flex span{
    font-size: 40px;
    font-weight: 700;
    
}
.flex i{
    font-size: 25px;
}
.footer-manu{
    padding: 70px 0;

}
.footer-manu h5{
    padding: 20px 0;
    font-size: 25px;
}
.footer-manu{
    display: flex;
}
.footer-manu div{
    display: flex;
    flex-direction: column;
    min-width: 300px;

}
.footer-manu div a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(47, 47, 47);
    padding: 10px ;
    font-weight: 700;

}
@media (max-width:600px) {
    .footer-manu div{
        width: 100%;
    }
    .footer-manu{
        flex-direction: column;
    }

    
}