*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 100px 30px;
    background: gray;
}
.continer{
    display: grid;
    grid-template-areas:
    "header header"
    "nav main "
    "footer footer ";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    background-color: dodgerblue;
    padding: 5px; 

}
.continer-auto{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.continer-auto div{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background: tomato;
    text-align: center;


}
.continer-text div{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    background: tomato;
    text-align: center;

}
.continer-text{
    display: grid;
    grid-template-columns: auto auto auto;

}
@media (max-width:600px){
    .continer-text{
        grid-template-rows: ;


    }
}
section h2{
    padding: 10px;
    text-align: center;




}

.continer-grid div{
    padding: 10px;
    font-size: 25px;
    background: green;
    margin: 5px;
    text-align: center;

}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

}

.grid3{
    display: grid;
    grid-template-columns:1fr 3fr ;
}
.grid4{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
}
.grid5{
    display: grid;
    grid-template-columns: 100px 200px 150px;
    justify-content: center;     
}
.grid6{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 150px 200px;

}
.grid7{
    background: tomato;
    padding: 10px;
}
.grid7{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 100px;

}
.grid8{
    background: violet;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px ; 
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;
}
.grid9{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 50px 100px;
    gap: 10px;
    background: tomato;
    padding: 20px;
    height: 500px;
    align-content: center;  
}
.grid10 .items{
    width: 100px;
    height: 30px;
    background: violet;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    


}
.grid10{
    display: grid;
    grid-template-columns: auto auto;
    
    justify-content: center;
    background: tomato;
    padding: 20px;
    place-content: end space-between;
    place-content: end space-evenly;
    height: 300px;

}